{% extends 'base.html'  %}
{% block content %}
<div class="container">
  <h1 class="text-center pt-3"> <u> Restaurant menu</u> </h1>
  <ul class = "list-group list-group-flush">
    {% for meal in meals %}
    <h2 class="pt-3">{{ meal.1 }}</h2>
    {% for m in item_list %}
    {% if m.meal_type == meal.0 %}
    {% if m.status == 0 %}
    <li class="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
      <a href = "{% url 'menu_item' m.pk %}"><h3><s>{{ m.meal }}</s></h3></a>
      <span class="badge bg-primary rounded-pill">{{m.price}}</span>
    </li>
    <li class = "list-group-item pt-0">
      <p> {{ m.description }}</p>
    </li>

    {% else %}
    <li class="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
      <a href = "{% url 'menu_item' m.pk %}"><h3>{{ m.meal }}</h3></a>
       <span class="badge bg-primary rounded-pill">{{m.price}}</span>
    </li>
    <li class = "list-group-item pt-0"
    </li>
    <p> {{ m.description }}</p>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endblock content %}
  </ul>
</div>
